@use "@Styles/Base" as *;

.actionSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  
  .goBack {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: $black;
    color: $white;
    cursor: pointer;
  }
}
