@use "@Styles/Base" as *;

.breadCrumbContainer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    .breadCrumb{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}