@use "@Styles/Base" as *;

.breadCrumbContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .breadCrumb{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}