@use "@Styles/Base" as *;

.folderContainer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;

    .mainStructureContainer{
        width: 20rem;
        height: 3.75rem;
        background: $bluish-grey;
        border-radius: 1rem;
        color: $black;
        font-size: $font-18;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.625rem 1.25rem;
        cursor: pointer;
        gap: 1.25rem;
        position: relative;

        .timeStamp{
            position: absolute;
            bottom: 0.25rem;
            right: 1rem;
            font-size: $font-10;
            color: $grey;
        }
    }
}