@use "@Styles/Base" as *;

.folderContainer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;

    .mainStructureContainer{
        width: 320px;
        height: 60px;
        background: $bluish-grey;
        border-radius: 16px;
        color: $black;
        font-size: $font-18;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        gap: 20px;
        position: relative;

        .timeStamp{
            position: absolute;
            bottom: 4px;
            right: 16px;
            font-size: $font-10;
            color: $grey;
        }
    }
}