@use "@Styles/Base" as *;

.mainContainer{
 @include container();

 .goBack{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: $black;
    color: $white;
    cursor: pointer;

 }
}